#version=RHEL8
#ignoredisk --only-use=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel
# Use text mode install
text
# Use network installation
url --url="http://ro-bucharest-repo.bigstepcloud.com/centos/8.1.1911/BaseOS/x86_64/os/"
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --ipv6=auto --activate
network  --hostname=localhost.localdomain
# Root password
rootpw --iscrypted $6$4C8R7d5fHSEhe9z4$BfpZpO91g30RwtBAUVhOkRmJ1PlvkdJ5Y.reychRDb7UcbVdpppQU6W9WAmjN60wzWxu.bhGEXs/CiFbQm6xZ1
# Run the Setup Agent on first boot
firstboot --enable
# Do not configure the X Window System
skipx
# System services
services --enabled="chronyd"
# System timezone
timezone UTC --isUtc
# Reboot the system after installation
reboot

%packages
@^minimal-environment
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end